body {
	font-family:'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
	color: #62686f;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1,h2,h3,h4,h5,h6{
	color:#333;
	font-weight:300;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.container {
	width:960px;
	margin: 0 auto;
}

.main-header {
	margin-top: 150px;
	padding: 1px;
	text-align: center;
	background-image: url(../img/banner.jpg);
}

.main-header h1{
	margin-bottom:20px;
	font-weight: 300;
	font-size: 50px;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-header__avatar {
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 10px;
	border: 3px solid white;
	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-nav{
	text-align: center;
	background-color: #333;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;	
}
.main-nav ul li{
	display: inline-block;
	margin: 15px 10px;
}
.main-nav ul li a{
	color: #fff;
	font-size: 0.9rem;
	font-weight:300;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav ul li a:hover {
	text-decoration:underline;
}

.info-section{
	padding: 30px 60px;
	text-align: center;
	background-color: #fff;
}

.info-section header {
	margin-bottom:60px;
}

.info-section header h2 {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.info-section h2:after{
	content:"";
	display:block;
	clear: both;
	margin: auto;
	margin-top: 10px;
	width: 10%;
	border-bottom: 3px solid black;
}

.whatido__skill{
	float:left;
}

.whatido__skill--code{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-code.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--design{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-design.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--product{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-product.png);
	background-repeat: no-repeat;
	background-position: center top;
}

ul.whatido__skill-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.education-experience__list {
	display: block;
}

.list {
	clear: both;
	margin-bottom: 30px;
	width: 100%;
}
.education-experience__list img{
	float: left;
	margin-right: 30px;
	width:180px;
}

.content{
	overflow: hidden;
	text-align: left;
}

.photos__list img{
	float: left;
	padding: 10px;
	width: 25%;
}
