body {
	font-family:'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
	color: #62686f;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1,h2,h3,h4,h5,h6{
	color:#333;
	font-weight:300;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

.container {
	width:960px;
	margin: 0 auto;
}

@media only screen and (max-width: 480px){
	.container {
		width:100%;
		margin: 0 auto;
	}
}

.main-header {
	margin-top: 150px;
	padding: 1px;
	text-align: center;
	background-image: url(../img/banner.jpg);
}

.main-header h1{
	margin-bottom:20px;
	font-weight: 300;
	font-size: 50px;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 480px){
	.main-header h1{
		font-size: 32px;
	}
}
.main-header__avatar {
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 10px;
	border: 3px solid white;
	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-nav{
	text-align: center;
	background-color: #333;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;	
}
.main-nav ul li{
	display: inline-block;
	margin: 15px 10px;
}
.main-nav ul li a{
	color: #fff;
	font-size: 0.9rem;
	font-weight:300;
	text-transform: uppercase;
	text-decoration: none;
}


@media only screen and (max-width: 480px){
	.main-nav ul li{
		display: block;
		margin: 0px 0px;
		padding: 5px;
	}
}

.main-nav ul li a:hover {
	text-decoration:underline;
}

.info-section{
	padding: 30px 60px;
	text-align: center;
	background-color: #fff;
}

@media only screen and (max-width: 480px){
	.info-section{
	padding: 10px;
	}
}

.info-section header {
	margin-bottom:60px;
}

.info-section header h2 {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

@media only screen and (max-width: 480px){
	.info-section  span {
	display: block;	
	}
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.info-section h2:after{
	content:"";
	display:block;
	clear: both;
	margin: auto;
	margin-top: 10px;
	width: 10%;
	border-bottom: 3px solid black;
}

.whatido__skill{
	float:left;
}

.whatido__skill--code{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-code.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--design{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-design.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill--product{
	padding-top: 100px;
	width:33.3%;
	background-image:url(../img/skill-product.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.whatido__skill-list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 480px){
	.whatido__skill{
	clear: both;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	}
}

@media only screen and (max-width: 480px){
	.whatido__skill-list li{
	margin-bottom: 40px;
	}
}

.education-experience__list {
	display: block;
}

.education-experience__list img{
	float: left;
	margin-right: 30px;
	width:180px;
}


@media only screen and (max-width: 480px){
	.education-experience__list img{
	float: none;
	display: block;
	margin: 0 auto;
	width: 180px;
	}
}

.content{
	overflow: hidden;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 480px){
	.content{
	float: none;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
	}
}

.photos__list li img{
	float: left;
	padding: 10px;
	width: 25%;
}

@media only screen and (max-width: 480px){
	.photos__list li img{
	float: none;
	padding: 10px;
	width: 100%;
	}
}

.get-in-touch__list {
	margin: 0 auto;
	width: 90%;
}

.get-in-touch__list li{
	float: left;
	padding: 10px;
	width: 25%;
}

@media only screen and (max-width: 480px){
	.get-in-touch__list{
	width: 100%;
	}
}

@media only screen and (max-width: 480px){
	.get-in-touch__list li{
	float: left;
	width: 50%;
	}
}


.contact form{
	position: relative;
	margin: 0 auto;
	top: 0;
	width: 40%;
	padding: 8px;
}

@media only screen and (max-width: 480px){
	.contact form{
	position: relative;
	margin: 0 auto;
	top: 0;
	width: 100%;
	padding: 8px;
	}
}

.contact input,
.contact textarea {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.contact button {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  border: none;
  border-radius: 9999px;
  background: #ffd524;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}

.contact label{
	position: absolute;
	display: block;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	left: -350px;
	width: 100%;
	text-align: right;
}


@media only screen and (max-width: 480px){
	.contact label{
	position: static;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	}
}


